<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nmj.book.main.model.mapper.MainMapper">

<select id="selectAll" resultType="book">
	SELECT BOOK_NO,BOOK_TITLE ,BOOK_WRITER ,BOOK_PRICE,TO_CHAR(REG_DATE,'YYYY-MM-DD') REG_DATE
	FROM "BOOK"
	ORDER BY BOOK_NO
</select>

<insert id="insertBook">
	INSERT INTO "BOOK"
	VALUES(SEQ_BOOK_NO.NEXTVAL,#{bookTitle},#{bookWriter},#{bookPrice},DEFAULT)

</insert>

<select id="search" resultType="book">
	SELECT BOOK_NO,BOOK_TITLE ,BOOK_WRITER ,BOOK_PRICE,TO_CHAR(REG_DATE,'YYYY-MM-DD') REG_DATE
	FROM "BOOK"
	WHERE BOOK_TITLE LIKE '%'||#{searchBar}||'%' 
	ORDER BY BOOK_NO
</select>

<update id="update">
	UPDATE "BOOK" 
	SET BOOK_PRICE = #{input} 
	WHERE BOOK_NO=#{bookNo}
</update>

<delete id="delete">
	DELETE FROM "BOOK"
	WHERE BOOK_NO = #{bookNo}
</delete>

</mapper>
